{% extends 'base.html' %}
{% load static %}
{% block header %}{% endblock %}
{% block content %}
    <div class="position-absolute top-0 start-0 behind"><img class="img-fluid" src="{% static 'images/ts.png' %}"/>
    </div>
    <h1 class="mb-1">Operation: Salt & Pepper Pots</h1>
    <p><a class="btn btn-info btn-large" href="{% url "spy:brief" %}"><i class="fad fa-user-secret"></i> Mission Briefing</a></p>
    {% if re %}
        <p><a class="btn btn-warning btn-large" href="{% url "spy:clue" 1 %}?restart"><i class="fad fa-forward"></i> Restart Mission</a></p>
        <p><a class="btn btn-success" href="{% url "spy:clue" current %}"><i class="fad fa-forward"></i> Continue Mission (Clue {{ current }})</a></p>
    {% else %}
        <p><a class="btn btn-success btn-large" href="{% url "spy:clue" 1 %}"><i class="fad fa-forward"></i> Start Mission</a></p>
    {% endif %}
    <p><a class="btn btn-secondary btn-small" target="_blank"
          href="https://www.google.com/maps/dir//53.7025035,-0.8692136/@53.7027737,-0.9041753,13z"><i
                class="fad fa-map-marker" aria-hidden="true"></i> Directions to
        start</a>
    </p>
    <p><a href="https://fb.me/opsaltpepperpots" target="_blank" class="btn btn-primary btn-large"><i
            class="fab fa-facebook"></i> Follow us on Facebook</a></p>
{% endblock %}